.main section {
	border: dotted 0 gray;
	border-top-width: 0.2rem;
	border-bottom-width: 0.2rem;
	margin-top: 0.4rem;
	margin-bottom: 0.4rem;
	padding-top: 0.4rem;
	border-radius: 5px;
}
.main > p {
	background-color: white;
}
.main section > p {
	border: dashed 1px lightcyan;
	background-color: white;
	margin: .25rem;
	padding: 1.25rem;
}
section ul,section ol {
  color: #1e366a;
  border: dotted #1e366a 1px;/*ドット 色 太さ*/
  padding: 0.5em 0.5em 0.5em 2em;
}

.main section li {
  line-height: 1.5;
  padding: 0.5em 0;
}
.main section table {
	background-color: linen;
}
.main figure {
	width:100%;
	overflow-x: scroll;
	border-right-width:0;
	border-left-width:0;
	background-color: white;
}
.main pre {
	border: ridge 4px lightcoral;
	border-radius: 1rem;
	border: solid .25rem blue;
	background-color: white;
	margin: .25rem;
	padding-left: 2rem;
}
.main details {
	box-shadow: 1px 1px 2px gray;
	margin: .75rem .25rem;
	padding: .5rem;
	border: solid 1px orange;
	background-color: white;
	margin: 0px 26px 10px;
}
.main details > summary {
	cursor: pointer;
}
.main dl > dd {
	background-color: white;
	padding: .5rem;
}
section address {
	padding: 1rem;
	box-shadow: 1px 1px 2px gray;
}                           
.main table tr {
	border-bottom: solid 1px gray;
}
.main table td,th {
	padding:.5rem 0;
}
.main dl {
	padding: 1rem;
	box-shadow: 1px 1px 2px pink;
}