@charset "UTF-8";
html {
	height: 100%;
	overflow:hidden;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
#main-panel {
	width: 70%;
	position: fixed;
	right: 0;
	left: 200px;
	bottom: 0;
	height:100%;
	overflow: scroll;
	z-index: 1;
}
#side-panel {
	padding: 3px;
	width: 200px;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	overflow: scroll;
	z-index: 100;
}
#header,h1,#main,#footer {
	width: 70%;
	position: relative;
	right: 0;
	left: 200px;
	z-index: 1;
}
#header,#main,#footer {
	margin: 0;
	padding: 0;
}

#header {
	line-height: 1.5em;
}

.aside {
	font-size: x-small;
}

.aside ul {
	width: 80%;
	padding-left: 1em;
	margin: auto;
}

.aside li {
	list-style-type: none;
}

#sidebar {
	padding: 3px;
	width: 200px;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
	z-index: 100;
}


#main-component {
	position: fixed;
	top: 0;
	right: 260px;
	bottom: 0;
	left: 0;
	overflow: auto;
}

#sub-component {
	width: 260px;
	position: fixed;
	top: 0;
	bottom: 0;
	left: auto;
	right: 0;
	overflow: auto;
}

#sub-component > dd {
	padding: 3px;
}

#header,#footer {
	background-color: white;
	font-size: small;
}
#body {
	width: 980px;
	margin-left: auto;
}
#main {
	width: 600px;
	float:left;
}
#side2 {
	width: 240px;
	float: left;
}
#footer {
	clear: both;
}
