/*### 4/26変更分 #################*/


.main pre {
  
 border: ridge 2px #888 !important;
    border-radius: 0.5rem !important;
    padding-left: 0.4rem !important;
}

figure code {
    margin-left: 2rem;
}

figure code:before {
clear:both;
  color:#900;
  font-weight:bold;
	white-space: pre;
float:left;
overflow:hidden;
text-align:right;
border-right:solid 1px #111;
margin-right:8px;
    position: absolute;
    background: white;
    margin-left: -2.7rem;
    padding-left: 13px;
}

.c2:before {
  content: "1 \A 2 ";
}
.c3:before {
  content: "1 \A 2 \A 3 ";
}
.c4:before {
  content: "1 \A 2 \A 3 \A 4 ";
}
.c5:before {
  content: "1 \A 2 \A 3 \A 4 \A 5 ";
}
.c6:before {
  content: "1 \A 2 \A 3 \A 4 \A 5 \A 6 ";
}
.c7:before {
  content: "1 \A 2 \A 3 \A 4 \A 5 \A 6 \A 7 ";
}
.c8:before {
  content: "1 \A 2 \A 3 \A 4 \A 5 \A 6 \A 7 \A 8 ";
}
.c9:before {
  content: "1 \A 2 \A 3 \A 4 \A 5 \A 6 \A 7 \A 8 \A 9 ";
}
.c10:before {
  content: "1 \A 2 \A 3 \A 4 \A 5 \A 6 \A 7 \A 8 \A 9 \A 10 ";
}

.c11:before {
  content: "1 \A 2 \A 3 \A 4 \A 5 \A 6 \A 7 \A 8 \A 9 \A 10 \A 11 ";
}

.c12:before {
  content: "1 \A 2 \A 3 \A 4 \A 5 \A 6 \A 7 \A 8 \A 9 \A 10 \A 11 \A 12 ";
}

.c13:before {
  content: "1 \A 2 \A 3 \A 4 \A 5 \A 6 \A 7 \A 8 \A 9 \A 10 \A 11 \A 12 \A 13 ";
}

.c14:before {
  content: "1 \A 2 \A 3 \A 4 \A 5 \A 6 \A 7 \A 8 \A 9 \A 10 \A 11 \A 12 \A 13 \A 14 ";
}
.c15:before {
  content: "1 \A 2 \A 3 \A 4 \A 5 \A 6 \A 7 \A 8 \A 9 \A 10 \A 11 \A 12 \A 13 \A 14 \A 15 ";
}
.c16:before {
  content: "1 \A 2 \A 3 \A 4 \A 5 \A 6 \A 7 \A 8 \A 9 \A 10 \A 11 \A 12 \A 13 \A 14 \A 15 \A 16 ";
}
.c17:before {
  content: "1 \A 2 \A 3 \A 4 \A 5 \A 6 \A 7 \A 8 \A 9 \A 10 \A 11 \A 12 \A 13 \A 14 \A 15 \A 16 \A 17 ";
}
.c18:before {
  content: "1 \A 2 \A 3 \A 4 \A 5 \A 6 \A 7 \A 8 \A 9 \A 10 \A 11 \A 12 \A 13 \A 14 \A 15 \A 16 \A 17 \A 18 ";
}
.c19:before {
  content: "1 \A 2 \A 3 \A 4 \A 5 \A 6 \A 7 \A 8 \A 9 \A 10 \A 11 \A 12 \A 13 \A 14 \A 15 \A 16 \A 17 \A 18 \A 19 ";
}


/*### 4/19変更分 #################*/

kbd{
    background-color: #7394b7 !important;
}

#footer-links{
/*レスポンシブ対応*/
    position: absolute !important;
left:calc(98% - 192px) !important;
width:192px !important;
/*margin-left:60%;*/
z-index: 2 !important;
height:40px !important;
}





.dl_link:before {
    font-family: "Font Awesome 5 Free";
    content: "\f019";
    font-weight: 900;
}

.out_link:before {
    font-family: "Font Awesome 5 Free";
    content: "\f35d";
    font-weight: 900;
}

.tips {
  list-style: none;
  font-size:80%;
    font-weight: 900;
    color: #633;
margin-left:-54px;
}
.tips:before {
  list-style: none;
    content: "※　";
}



.branch_F:before,
.branch_SF:before {
    font-family: "Font Awesome 5 Free";
    content: "\f07c";
    font-weight: 900;
}
.branch_SF:before{
margin:0px;
    font-weight: 100;
}

.branch_F {
    padding: 0.7em 1.2em 1.2em !important;
  list-style: none;
}

.branch_F LI {
  list-style:none;
}

.branch_F LI {
    line-height: 1.2 !important;
    padding: 0 !important;
}
.branch_F:after {
margin-bottom:0.5em;
}

.branch_T:before {
    content: "┣";
}
.branch_I:before {
    content: "┃";
}

.branch_L:before {
    content: "┗";
}
.branch_IT:before {
    content: "┃　┣";
    margin-left: -32px;
}
.branch_IL:before {
    content: "┃　┗";
    margin-left: -32px;
}



ul ul {
    margin-bottom: 0px !important;
    border: dotted #1e366a 0px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
/*### 3/14変更分 #################*/

/*55.レスポンシブ*/
@media screen and (max-width:767px) {

/*邪魔になっていた表示を消す*/
#footer-links{
display: none !important;
}

/*タイトルの調整*/
.title {
  background-color: #AAA !important;
  line-height: 2.0 !important;
border-top: solid 8px #BBB !important;
border-right: solid 8px #999 !important;
box-shadow: 0 6px 0px gray !important;
}

}


/*表示がおかしくなっていたので修正*/
@media screen and (min-width:767px) {
  /*PC表示の時ワイドを1000PXで固定*/
  .container{
max-width:1000px !important;
width:1000px !important;
}
    
.phone-only {
  display: none !important;
}
    
    
} 

/*### 3/8変更分 #################*/

/*50.コードボックスの見栄えの修正*/
.main pre {
  
 border: ridge 2px #888 !important;
    border-radius: 0.5rem !important;
    padding-left: 1rem !important;
}


/*Gitの表示がおかしくなっていたので修正
　　：メインページには関係ありません*/
.js-details-container .d-md-block {
    position: relative !important;
    left: 0 !important;
}

/*### 3/7変更分 #################*/

/*43.TABLEリンクが分かりづらい*/
table.responsive td:nth-child(1) {
  /*リンクを左寄せにする*/
text-align: left !important;
font-weight: bold !important;
}


/*47.文字間隔の調整*/
.row p {
  /*本文の幅を広げる*/
  line-height: 1.5 !important;
  margin: 40px 0 !important;
}

table.responsive td {
  /*テーブル内にも対応*/
  line-height: 1.5 !important;
}

#coda p {
  /*ボックス内にも対応*/
  line-height: 1.5 !important;
  margin:10px !important;
}

.dropdown-item{
  /*メニューの幅にも対応*/
  line-height: 1.5 !important;
}

/*プライバシーポリシーが崩れたので修正*/
.col-md-12 a{
  line-height: 250% !important;
}


/*### 3/4変更分 #################*/


/*51.ヘッダーの色修正*/
#pagetop nav{
  background:linear-gradient(#F7F9FE,#CACACA) !important;
  box-shadow: 1px 1px 10px #778 !important;
}


/*19.プライバシーポリシーの修正*/
#footer-links{
  box-shadow: 2px 2px 2px #636363 !important;
}


/*### 3/2変更分 #################*/

/*33.広告の位置を変える*/
.adv{
  position: absolute !important;
  left:10500px !important;
}


/*### 3/1変更分 #################*/


/*38.謎のスクロールバーを消す*/
.main figure {
  background-color: #f8f9fa !important;
    overflow-x: hidden !important;
}

/*37.コード部分が見づらい*/
.main figcaption{
  /*タイトル部分の間隔を広げる*/
  line-height: 40px !important; 
}

/*枠の変更*/
main pre {
/*    border: ridge 1px #565656 !important;
    box-shadow: 1px 1px 3px #999 !important;*/
}



/*### 2/27変更分 #################*/

/*35.リンクの見た目の調整*/
.responsive td{
  min-width:200px !important;
}



/*34.悪目立ちしている連絡ボックスを修正*/
#coda{
  /*見出しボックス内の色を変更*/
    border: solid 1px #5a5a5a !important;
    color:#444 !important;
    background: linear-gradient(#FFF, #EFEFEF) !important;
    /*見出しの文字を普通の文字に*/
  font-weight: normal !important;
  font-size: 100% !important;
  overflow: hidden !important;
}


#coda h1,
#coda h2,
#coda h3,
#coda h4,
#coda h5,
#coda h6{
  /*見出しの色を変更*/
  background: #6a6a6a !important;
}

#coda h3 {
  /*見出しの文字を変更*/
  font-size: 130% !important;
  line-height: 55px !important;
}



/*外部リンクの見た目を調整*/
#coda ul {
  margin:25px !important;
  padding: 10px 40px !important;
}

/*### 2/25変更分 #################*/


/*32.ページトップの修正*/
/*位置移動、リンク下線が出ないように変更*/
.col{
  background-color: #F1F1F1 !important;
  border-radius: 80px !important;
  border: solid 1px #111 !important;
  position: fixed !important;
top:80% !important;
/*レスポンシブ対応*/
left:calc(98% - 53px) !important;
width:53px !important;
z-index: 4 !important;
height:40px !important;
}

.col a{
/*元のページトップボタンを消す*/
  color:RGBA(0,0,0,0) !important;
text-decoration: none !important;
}

/*ページトップボタンを記号に変更*/
.col a:before {
  content: "▲" !important;
  color:#111 !important;
}



/*30.ヘッダーの文字が薄い*/
.navbar-light .navbar-nav .nav-link{
  color:#111 !important;
}

/*31.ヘッダーが半透明になってる*/
#pagetop{
  /*透明化を解除*/
  opacity: 1 !important;
}

/*39.文字ボックス*/
.main p{
  /*文字ボックスの色を調整*/
  margin-left:0px !important;
  border-top: solid 1px #121212 !important;
  border-left: solid 1px #121212 !important;
  border-right: solid 2px #727272 !important;
  border-bottom: solid 2px #727272 !important;
}

/*### 2/22変更分 #################*/


/*26.二重になっている線を1つに戻す*/
.main section {
 padding-bottom:30px !important;
    border-top: solid 0px gray !important;
    border-bottom: solid 1px gray !important;
     border-radius:1px !important;
}

/*フッダー上の二重線部分を消す*/
.main section:last-child {
   border-bottom: solid 0px gray !important;
}


/*19.プライバシーポリシーの修正*/
#footer-links p {
  /*表示がおかしくなっていたので修正*/
  margin: 0px 0 !important;
}

#footer-links p:hover {
  /*色が変わるように修正*/
background-color:#1a74b1 !important;
width:192px !important;
padding-left:15px !important;
margin-left:-15px !important;
}

#footer-links a:hover {
  /*リンク下線を除去*/
text-decoration: none !important;
}



/*### 2/21変更分 #################*/


/*メニューの緑が見づらい*/

.main h3 {
  /*H2の変更　H1と入れ替え+調整*/
  color:black !important;
    border-bottom: solid 3px gray !important;
    padding-left: 5px !important;
    padding-bottom:10px !important;
}

/*テーブル下のスペースを広げる*/
table.responsive {
  margin-bottom: 50px !important;
}


/*### 2/19変更分 #################*/

/*24.page topの修正*/


/*### 2/18変更分 #################*/

/*25.スペースの変更*/

.bg-white p {
  /*アイドメニューの幅を広げる*/
  line-height: 170% !important;
  margin-top:30px !important;
}

.main {
  /*メイン部分のスペース調整*/
  margin-bottom: 50px !important;
}
.row nav{
  /*パンくずのスペース調整*/
  margin:20px 0 !important;
}


/*### 2/17変更分 #################*/

/*23.見出しを無彩色にし、装飾を追加*/
.title{
  /*H1の変更　H2と入れ替え+調整*/
  color:black !important;
    padding-left: 10px !important;
    border-left: solid 8px gray !important;
    border-bottom: solid 3px gray !important;
    padding-bottom: 8px !important;
}

.main h2 {
  /*H2の変更　H1と入れ替え+調整*/
  color:black !important;
    border-left: solid 5px gray !important;
    padding-left: 10px !important;
}



/*### 2/16変更分 #################*/


/*22.フッダーの問題*/

.bg-info {
  /*フッダーの色を黒に*/
  background-color:#333 !important;
  /*狭かったスペースを空ける*/
  padding:20px 50px 50px !important;
}
/*文字間隔を広げる*/
.bg-info tr{
  line-height: 40px !important;
}

/*20.ペイペイうんぬんの削除*/
.bg-info p {
display: none !important;
}

/*### 2/15変更分 #################*/

.responsive td,
.responsive tr {
  line-height: 32px !important;
}

/*### 2/5変更分 #################*/


table.responsive td {
  /*リンクを同じ枠内にする*/
    padding:20px 10px !important;
}


/*### 2/4変更分 #################*/


/*6.用途不明、謎のborderを削除*/
#prelude{
  display: none !important;
}



/**### 2/1 #################**/

.bg-dark{
background-color:#C5C5C5 !important;
}

/**### 1/31 #################**/



.dropdown-toggle#Framexs{
display:none !important;
}


/**### 1/27 #################**/

#pagetop{
  z-index: 1 !important;
    postion: -webkit-sticky !important;
    position: sticky !important;
    top: 0 !important;
    }

#coda {
margin-top:5px !important;
}
#coda p {
padding:5px 15px !important;
}

h1 {
margin:4% 1% !important;
}

h2 {
margin:1% 1% 2% !important;
}


.main section {
margin:4% 1% 0% !important;
}
