@import url('https://fonts.googleapis.com/css2?family=Kosugi&display=swap');

section > section {
	margin: 1rem 0;
}
.main section {
	border: dotted 0 gray;
	border-top-width: 0.2rem;
	border-bottom-width: 0.2rem;
	margin-top: 0.4rem;
	margin-bottom: 0.4rem;
	padding-top: 0.4rem;
	border-radius: 5px;
}
.main section > p {
	border: dashed 1px lightcyan;
	background-color: white;
	margin: .25rem;
	padding: 1.25rem;
}
section > ul,section > ol {
  color: #1e366a;
  border: dotted #1e366a 1px;/*ドット 色 太さ*/
  padding: 0.5em 0.5em 0.5em 2em;
}
section li {
  line-height: 1.5;
  padding: 0.5em 0;
}
ul.contact {
	background: RGBA(255,255,255,0.02);
    margin: 1rem auto;
    text-align: center;
    width: 100%;
    padding: 10px 0;
}
.contact a {
	color: #396;
	display:block;
	padding: 10px 0;
}
.contact > li {
	list-style: none;
    margin: 1rem 10%;
    width: 80%;
    background: linear-gradient(#efe, #beb);
    color: #396;
    font-weight: bold;
    font-size: 180%;
    border: solid 5px #396;
    border-radius: 10px;
    text-shadow: 2px 2px 1px #fff, -2px 2px 1px #fff, 2px -2px 1px #fff, -2px -2px 1px #fff, 2px 0px 1px #fff, 0px 2px 1px #fff, -2px 0px 1px #fff, 0px -2px 1px #fff;
    box-shadow: 2px 2px 4px #9a9;

}
section > table {
	background-color: linen;
}
section > pre {
	border-radius: 1rem;
	border: solid .25rem blue;
	background-color: white;
	margin: .25rem;
	padding-left: 2rem;
}

section > details {
	background: #FEFCFC;
    border: solid 2px #D16;
    padding: 2%;
    border-radius: 25px;
    line-height: 180%;
}
section > details > summary {
	cursor: pointer;
    color: #D16;
    font-weight: bold;
    font-size: 120%;
    border-bottom: solid 1px #D16;
    line-height: 21px;
    margin-bottom: 10px;
}
section figure {
	text-align: center
}
section figure > .twitter-tweet {
	margin: auto;
}
section address {
	padding: 1rem;
	margin: 1rem;
	background-color:white;
	box-shadow: 1px 1px 2px gray;
}
article dl {
	background-color:white;
	margin: 1rem;
	padding: .5rem;
	box-shadow: 2px 2px 3px pink;
}