@charset "UTF-8";

body {
	padding:0;
	margin:0;
}
address {
	margin: auto 0;
}
section {
	border: dotted 0 gray;
	border-top-width: 0.2rem;
	margin-top: 0.4rem;
	padding-top: 0.4rem;
	
}
section p {
	border: dashed 1px lightgray;
	background-color: white;
	margin: .25rem;
	padding: 1.25rem;
}
section ul, section ol, section dl {
	background-color: lightyellow;
}
section table {
	background-color: linen;
}
section pre {
	border-radius: 1rem;
	border: solid .25rem blue;
	background-color: white;
	margin: .25rem;
	padding-left: 2rem;
}
section details {
	box-shadow: 1px 1px 2px gray;
	margin: .25rem;
	border: solid 1px orange;
	background-color: white;
}
section details > summary {
	cursor: pointer;
}
#prelude {
	background-color: #ebf1f8;
	padding: 2rem .5rem;
	text-shadow: 1px 1px 2px pink;
	font-size: 1.25rem;
}
.adv {
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}
@media screen and (max-width:1080px) {
	table.responsive {
		display: block;
	}
	table.responsive tbody {
		display: block;
	}
	table.responsive tr {
		display: block;
	}
	table.responsive th,td {
		display: block;
	}
	table.responsive thead {
		display:block;
	}
	table.responsive tfoot {
		display:block;
	}
}