@charset "UTF-8";

h2 {
font-weight:bold;
color:#2828d0;
font-size:140%;
margin-top:0%;
 text-shadow    : 
       2px  2px 2px #fff,
      -2px  2px 2px #fff,
       2px -2px 2px #fff,
      -2px -2px 2px #fff,
       2px  0px 2px #fff,
       0px  2px 2px #fff,
      -2px  0px 2px #fff,
       0px -2px 2px #fff;  
line-height:120%;
}

body {
	padding:0;
	margin:0;
}
address {
	margin: auto 0;
}
section {
	border: dotted 0 gray;
	border-top-width: 0.2rem;
	margin-top: 0.4rem;
	padding-top: 0.4rem;
	
}

#prelude {
	padding: 2rem .5rem;
	text-shadow: 1px 1px 2px pink;
	font-size: 1.25rem;
	background:linear-gradient(#fff, RGBA(0,0,255,0.05));
	line-height:180%;
	padding:4% 2% 4%;                   
	border:solid 2px #77F;
	text-shadow    : 
       -1px  -1px 0px #fff,
       1px  -1px 0px #fff,
       -1px  1px 0px #fff,
       1px  1px 0px #fff;
}
.adv {
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}
@media screen and (max-width:1080px) {
	table.responsive {
		display: block;
	}
	table.responsive tbody {
		display: block;
	}
	table.responsive tr {
		display: block;
	}
	table.responsive th,td {
		display: block;
	}
	table.responsive thead {
		display:block;
	}
	table.responsive tfoot {
		display:block;
	}
}