.footer-links {
    padding:0;
}
.footer-links li{
    text-align: center;
    list-style-type: none;
}
.footer-links a {
    color: white;
}
.footer-links a:hover{
    color: white;
}
.share-buttons {
    margin:auto;
    max-width:660px;
}
.share-buttons > * {
    margin:.1rem;
}


.tips {
    list-style: none;
    font-size:80%;
    font-weight: 900;
    color: #633;
    margin-left:-54px;
}
.tips:before {
    list-style: none;
    content: "※　";
}

.internal-quote{
    border:dotted 2px gray;
    padding: .5rem;
}
@media screen and (max-width:1080px) {
	table.responsive {
		display: block;
	}
	table.responsive tbody {
		display: block;
	}
	table.responsive tr {
		display: block;
		background-color: white;
		border: dotted 1px gray;
		border-radius: .5rem;
		margin: .5rem 0;
		padding: .5rem;
		box-shadow: 1px 1px 0px gray
	}
	table.responsive th,table.responsive td {
		display: block;
	}
	table.responsive thead {
		display:block;
	}
	table.responsive tfoot {
		display:block;
	}
}
/*30.ヘッダーの文字が薄い*/
.navbar-nav li a.nav-link{
	color:#111;
}
img.right {
	float:right;
}
img.left {
	float:left;
	margin-right:1rem;
}
.dropdown-item{
	/*メニューの幅にも対応*/
	line-height: 1.5;
  }
/*
想定するコード
<div class="code-container">
<div class="caption">---</div>
<pre><code>
---
</code></pre>
</div>*/
.code-container code {
	margin-left: 1rem;
}
	
.code-container code:before {
clear:both;
	color:#900;
	font-weight:bold;
	white-space: pre;
float:left;
overflow:hidden;
text-align:right;
border-right:solid 1px #111;
margin-right:8px;
	position: absolute;
	background: white;
	margin-left: -2.7rem;
	padding-left: 13px;
}
table.vertical {
	display: block;
}
table.vertical tbody {
	display: block;
}
table.vertical tr {
	display: block;
	background-color: white;
	border: dotted 1px gray;
	border-radius: .5rem;
	margin: .5rem 0;
	padding: .5rem;
	box-shadow: 1px 1px 0px gray
}
table.vertical th,table.vertical td {
	display: block;
}
table.vertical thead {
	display:block;
}
table.vertical tfoot {
	display:block;
}

.info {
margin-top:5px;
}
.info p {
padding:5px 15px;
}



.info h1,.info h2,.info h3,.info h4,.info h5,.info h6 {
	color: #FFF;
	line-height: 80px;
	text-align: center;
	background: #6a6a6a;
}
.info {
	/*見出しボックス内の色を変更*/
	border: solid 1px #5a5a5a;
	color:#444;
	background: linear-gradient(#FFF, #EFEFEF);
	/*見出しの文字を普通の文字に*/
	font-weight: normal;
	font-size: 100%;
	overflow: hidden;
	font-weight: bold;
	border-radius: 10px;
	box-shadow: 2px 2px 4px #9a9;
	padding: 0.5rem;
}

.info > p {
	line-height: 1.5;
	margin:10px;
	text-shadow: 2px 2px 1px #fff, -2px 2px 1px #fff, 2px -2px 1px #fff, -2px -2px 1px #fff, 2px 0px 1px #fff, 0px 2px 1px #fff, -2px 0px 1px #fff, 0px -2px 1px #fff;
	margin: 20px 20px 20px 10px;
	border-width: 0;
}

.info h3 {
/*見出しの文字を変更*/
font-size: 130%;
line-height: 55px;
}

/*外部リンクの見た目を調整*/
.info ul {
margin:25px;
padding: 10px 40px;
}

.article-list p {
	margin: 0;
}
table.responsive {
	border-collapse: collapse;
	border:1px solid #333;
}
table.responsive td, table.responsive th {
	border-collapse: collapse;
	border:1px solid #333;
	padding: .25rem;
}

.adv {
	margin: 0 auto;
}               
.adv > * {                          
	margin: .5rem auto;
}
ul.sharebuttons > li {
	display: inline-block;
}
ul.sharebuttons div {
	display: inline;
}

.strong {
	padding: .5rem .5rem 0 .5rem;
	text-shadow: 1px 1px 2px pink;
	font-size: 1.25rem;
	background:linear-gradient(#fff, RGBA(0,0,255,0.05));
	line-height:180%;                
	border:solid 2px #77F;
	text-shadow    : 
       -1px  -1px 0px #fff,
       1px  -1px 0px #fff,
       -1px  1px 0px #fff,
       1px  1px 0px #fff;
}
.title {
    font-weight: bold;
    margin-top: 0%;
    margin-left: 1rem;
    text-shadow: 2px 2px 2px #fff, -2px 2px 2px #fff, 2px -2px 2px #fff, -2px -2px 2px #fff, 2px 0px 2px #fff, 0px 2px 2px #fff, -2px 0px 2px #fff, 0px -2px 2px #fff;
    line-height: 120%;
	font-size:180%;
	color:black;
	padding-left: 10px;
	border-left: solid 8px gray;
	border-bottom: solid 3px gray;
	padding-bottom: 8px;
}
@media screen and (max-width:767px) {

	/*タイトルの調整*/
	.title {
	background-color: #AAA;
	line-height: 2.0;
	border-top: solid 8px #BBB;
	box-shadow: 0 6px 0px gray;
	margin-left: 0;
	margin-right: 0;
	border-left-width: 0;
	border-right-width: 0;
	}
	.footer-table {
		width:100%;margin:auto
	}
	.code-container code {
		margin: 0;
	}
}

.contact-button {
	background: RGBA(255,255,255,0.02);
    margin: 1rem auto;
    text-align: center;
    width: 100%;
    padding: 10px 0;
	color: #396;
	display:block;
	padding: 10px 0;
	margin: 1rem 10%;
    width: 80%;
    background: linear-gradient(#efe, #beb);
    color: #396;
    font-weight: bold;
    font-size: 180%;
    border: solid 5px #396;
    border-radius: 10px;
    text-shadow: 2px 2px 1px #fff, -2px 2px 1px #fff, 2px -2px 1px #fff, -2px -2px 1px #fff, 2px 0px 1px #fff, 0px 2px 1px #fff, -2px 0px 1px #fff, 0px -2px 1px #fff;
    box-shadow: 2px 2px 4px #9a9;

}

/*34.悪目立ちしている連絡ボックスを修正*/
.emphasis{
	/*見出しボックス内の色を変更*/
	border: solid 1px #5a5a5a;
	color:#444;
	background: linear-gradient(#FFF, #EFEFEF);
	/*見出しの文字を普通の文字に*/
	font-weight: normal;
	font-size: 100%;
	overflow: hidden;
}
.emphasis h1,.emphasis h2,.emphasis h3,.emphasis h4,.emphasis h5,.emphasis h6 {
    background: #396;
    color: #FFF;
    line-height: 80px;
    text-align: center;
}
                        
.emphasis > p {

    text-shadow: 2px 2px 1px #fff, -2px 2px 1px #fff, 2px -2px 1px #fff, -2px -2px 1px #fff, 2px 0px 1px #fff, 0px 2px 1px #fff, -2px 0px 1px #fff, 0px -2px 1px #fff;
    margin: 20px 20px 20px 10px;
}