@charset "UTF-8";
main {
	padding: 1rem;
}
address {
	margin: auto 0;
}
section > section {
	border: dotted 0 gray;
	border-top-width: 0.2em;
	margin-top: 0.4rem;
	padding-top: 0.4rem
}

@media screen and (max-width: 480px){
	
}