@charset "UTF-8";
main {
	padding: 1rem;
}
address {
	margin: auto 0;
}
section {
	border: dotted 0 gray;
	border-top-width: 0.2rem;
	margin-top: 0.4rem;
	padding-top: 0.4rem;
	
}
section p {
	border: dashed 1px lightgray;
	background-color: white;
	padding: 0.25rem;
}
section ul, section ol, section dl {
	background-color: lightyellow;
}
section table {
	background-color: linen;
}
section pre {
	background-color: white;
}
.adv {
	margin-left: auto;
	margin-right: auto;
}
@media screen and (max-width: 480px){
	
}