@namespace "http://www.w3.org/2001/XMLSchema";

schema {
	color: red;
}
element {
	color: blue;
}
attribute {
	color: green;
}
group {
	border: solid 1px aqua;
	padding: 1em;
	margin: 1em;
}
choice {
	border: solid 1px pink;
}