@namespace "http://relaxng.org/ns/structure/1.0";

grammar {
	background-color: red;
}
div {
	background-color: gray;
}
define {
	background-color: silver;
}
element {
	background-color: blue;
}
attribute {
	background-color: green;
}
zeroOrMore {
	background-color: purple;
}
oneOrMore {
	background-color: orange;
}
choice {
	border: solid 1px pink;
}