@namespace "http://www.w3.org/2002/06/xhtml2/";

html,body,frame,block,h,section,div,pre,p,l,ul,ol,dl,blockquote,blockcode,section,article,main,aside,header,footer {
	display: block;
	margin: 0;
	padding:0;
}
f,span,link,kbd,quote,dfn,abbr {
	display: inline;
}
html {
	
}
head {
	display: none;
}
body {
	margin: 0;
	padding: 0;
	display: block
}
frame {
	border: solid 1px red;
	margin:1%;
	padding:1%;
}
h {
	border: inset 1px lime;
	margin:1%;
	padding:1%;
}
h[importance="7"] {
	font-size: 48px;
}
h[importance="6"] {
	font-size: 32px;
}
main {
	border: double 3px silver;
	margin:1%;
	padding:1%;
}
header,footer,aside {
	border: outset 1px azure;
	margin:1%;
	padding:1%;}
article {
	border: dashed 1px pink;
	margin:1%;
	padding:1%;
}
section {
	border: ridge 1px yellow;
	margin:1%;
	padding:1%;
}
p {
	border: groove 1px orange;
	margin:1%;
	padding:1%;
}
l {
	border: dotted 1px aqua;
	margin:1%;
	padding:1%;
}
source {
	display: none;
}
table {
	display: table;
}
thead {
	display: table-header-group;
}
tbody {
	display: table-row-group;
}
