@import url('https://fonts.googleapis.com/css2?family=Kosugi&display=swap');
:root {
	--breakpoint-width: 748px;
}

img.right {
	float:right;
}
img.left {
	float:left;
	margin-right:1rem;
}
article img {
	width:50%;
	shape-outside: margin-box;
}
@media screen and (max-width:748px) {
	article img {
		width:100%;
	}
}
