<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
<head>
<meta charset="UTF-8"/>
<title>Vue.js</title>
<meta property="og:title" content="Vue.js"/>
<meta property="og:type" content="article"/>
<meta property="url" content="http://inomoto-hironobu.github.io/"/>
<meta property="og:description" content="Vue.jsについて"/>
</head>
<body>
<header><a href="../index.html">index</a></header>
<main>
<h1>Vue.js</h1>
<section>
<div id="app">
<p>{{message}}</p>
<p>{{stored}}</p>
<p v-if="seen">seen true</p>
<p v-on:click="done">done</p>
<p><button v-on:click="store">store</button></p>
<div id="content">
<textarea v-model="stored" cols="40" rows="20"></textarea>
</div>
<p><button v-on:click="log">log</button></p>
<ul>
<li v-for="todo in todos">{{todo.text}}</li>
</ul>
<p><button v-on:click="reverseMessage">reverseMessage</button></p>
<p>{{model}}<input v-model="model"></input></p>
<ol>
<todo-item v-for="todo in todos" v-bind:todo="todo"></todo-item>
</ol>
<ol><test></test></ol>
<p><button onclick="arg('test')">arg</button></p>
</div>
<div id="app2">
<ol><todo-item></todo-item></ol>
</div>
</section>
</main>
</body>
</html>