<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8"/>
<meta name="Author" content="井本拓伸"/>
<title>Vue.js</title>
<meta property="og:title" content=""/>
<meta property="og:type" content="article"/>
<meta property="url" content="http://inomoto-hironobu.github.io/"/>
<meta property="og:description" content="Vue.jsについて"/>
<link rel="stylesheet" href="../css/hcj.css"/>
<script src="../js/hcj.js"></script>
<script src="../js/vuejs.js"></script>
</head>
<body>
<h1>Vue.js</h1>
<section>
<div id="app">
<p>{{message}}</p>
<p v-if="seen">seen true</p>
<p><button v-on:click="log">log</button></p>
<ul>
<li v-for="todo in todos">{{todo.text}}</li>
</ul>
<p><button v-on:click="reverseMessage">reverseMessage</button></p>
<p>{{model}}<input v-model="model"></input></p>
<ol>
<todo-item v-for="todo in todos" v-bind:todo="todo"></todo-item>
</ol>
<ol><test></test></ol>
<p><button onclick="arg('test')">arg</button></p>
</div>
<div id="app2">
<ol><todo-item></todo-item></ol>
</div>
</section>
</body>
</html>