<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8"/>
<title>test</title>
<!-- 共通 -->
<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.js"></script>

<script async src="svg.js"></script>

</head>
<body>
<h1>トップページ</h1>
<section>
<p>Hello World.</p>

<div id="hcj">
<svg id="svg" xmlns="http://www.w3.org/2000/svg" width="800">
    <path>
    	<animate attributeName="d"
             dur="2s"
             to="M0,10 l 50,50 l 7,70z"/>
    	<animate attributeName="d"
             dur="2s"
             to="M0,0 l 10,10 l 33,100z"/>
        <animate attributeName="d"
             repeatCount="indefinite"
             dur="2s"
             to="M50,50 l 10,10 l 33,100z"/>
     </path>
</svg>
</div>
<div id="svgapp">
<div>{{row}}</div>
<input type="text" v-model="row"/><input type="text" v-model="col"/>
<table id="paths" style="border-collapse:collapse">
<thead style="border: solid 3px blue"><tr><th>列</th><th v-for="(dvalue,i) in dvalues"><input v-model="dvalues[i]"/></th></tr></thead>
<tbody style="border: solid 3px red"><tr v-for="(pathd,pi) in pathArr"><td>{{pi}}</td><td v-for="(value,vi) in pathd"><input v-model="pathArr[pi][vi]"/></td></tr></tbody>
</table>
<button v-on:click="table">table</button><button v-on:click="create">create</button><button onclick="save();">save</button><input id="csvload" type="file"/>
<div><button v-on:click="changeTable">列追加</button><button v-on:click="changeTable">列削除</button><button v-on:click="changeTable">行追加</button><button v-on:click="changeTable">行削除</button></div>
</div>
</section>
</body>
</html>
